body {
    margin: 0;
    background: #f5f5f5;
    color: #262626;
}

a {
    color: #262626;
}

a:hover {
    color: #9c9c9c;
}

#nav {
    text-indent: 50px;
    background: #dcdcdc;
}

section {
    height: 50px;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

#myLoc {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 250px;
}

#loc {
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    background: #3f3f3f;
    color: #f5f5f5;
}

section#location {
    text-align: center;
    padding-left: 25px;
}

#container {
    border: 0px;
    text-align: center;
    padding: 10px;
}

#submit {
    background: #dcdcdc;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    color: #262626;
}

#submit:active {
    color: #262626;
    background: #bebebe;
}

#mood {
    width: 250px;
    text-align: center;
    padding: 20px 0px 0px 0px;
    border: 0px;
}

h1 {
    color: #262626;
}

h2 {
    color: #262626;
}